<!---Lists repositories associated to a tag (in _data/repos.yml)--->
{% assign tagged_repos = site.data.repos | where_exp: "item", "item.topics contains include.tag" | map: "name" %}

<!---Recovers the repositories from github--->
{% assign related = site.github.public_repositories | where_exp: "item", "tagged_repos contains item.name" %}

<!---Paragraph title--->
### {% if include.title %}{{ include.title }}{% else %}Related repositories {% endif %}

<!---Lists repositories, with description if present--->
<ul>{% for r in related %}
  <li>
    <a href="{{ r.html_url }}">{{ r.name }}</a>
    {% if r.description %}: {{ r.description }}{% endif %}
  </li>{% endfor %}
</ul>
